<form action="new" method = "get">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Name</label>
  <input id="name" type="text" name="cat[name]"><br>

  <label for="sex">Sex</label>
  <input id="sex" type="radio" name="cat[sex]" value = "M">M
  <input id="sex" type="radio" name="cat[sex]" value = "F">F<br>

  <label for "color">Color</label>
  <select id="color" name="cat[color]">
    <option selected="selected" disabled="disabled" hidden></option>
    <option value="orange">orange</option>
    <option value="grey">grey</option>
    <option value="white">white</option>
    <option value="black">black</option>
  </select><br>

  <label for "birth_date">Birthday</label>
  <input id="birth_date" type="date" name="cat[birth_date]"><br>

  <label for "description">Description</label>
  <textarea name="cat[description]">
  </textarea><br>

  <input type="submit">
</form>
